.features{
    align-items: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
    width: 100%;
}

.features__text{
    align-items: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 100%;
}

.features__title{
    color: var(--very-dark-blue);
    font-size: 2rem;
    font-weight: 500;
}

.features__para{
    color: var(--grayish-blue);
    line-height: 1.5rem;
    padding: 1rem 0;
    width: 40%;
}

.features__list{
    align-items: center;
    display: flex;
    flex-direction: column;
}

.features__menu{
    color: var(--grayish-blue);
    display: flex;
}

.features__menu__item{
    cursor: pointer;
    margin-left: 1rem;
}
.features__menu__item:hover{
    color: var(--soft-red);
}

.features__items{
    padding: 2rem 0;
}

.features__item{
    align-items: center;
    display: flex;
    justify-content: space-between;
    padding: 0 3rem;
}

.features__item__text{
    text-align: left;
    width: 50%;
}

.features__item__title{
    color: var(--very-dark-blue);
    font-size: 1.5rem;
    font-weight: 500;
}

.features__item__para{
    color: var(--grayish-blue);
    line-height: 1.5rem;
    padding: 1rem 0;
    width: 70%;
}

.features__item__button{
    background: var(--soft-blue);
    border-radius: 0.3rem;
    color: aliceblue;
    cursor: pointer;
    padding: 0.8rem 1.5rem;
}

#intelligent{
    display: none;
}

#share{
    display: none;
}