.features{
    align-items: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
    padding-top: 2rem;
    width: 100%;
}

.features__text{
    align-items: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 100%;
}

.features__title{
    color: var(--very-dark-blue);
    font-size: 2rem;
    font-weight: 500;
}

.features__para{
    color: var(--grayish-blue);
    line-height: 1.5rem;
    padding: 1rem 0;
    width: 40%;
}

.features__list{
    align-items: center;
    display: flex;
    flex-direction: column;
}

.features__menu{
    align-items: center;
    border-bottom: 1px solid var(--grayish-transparent-2);
    color: var(--grayish-blue);
    display: flex;
}

.features__menu__item{
    cursor: pointer;
    font-size: 1.1rem;
    margin: 0 1rem;
    font-weight: 400;
    padding-bottom: 1rem;
}

.features__menu__item:hover{
    color: var(--soft-red);
    border-bottom: 2px solid var(--soft-red);
}

.features__items{
    padding: 2rem 0;
}

.features__item{
    align-items: center;
    display: flex;
    justify-content: space-between;
    padding: 0 3rem;
}

.features__item__text{
    text-align: left;
    width: 50%;
}

.features__item__title{
    color: var(--very-dark-blue);
    font-size: 1.5rem;
    font-weight: 500;
}

.features__item__para{
    color: var(--grayish-blue);
    line-height: 1.5rem;
    padding: 1rem 0;
    width: 70%;
}

.features__item__button{
    background: var(--soft-blue);
    border-radius: 0.3rem;
    color: aliceblue;
    cursor: pointer;
    padding: 0.8rem 1.5rem;
}

#intelligent{
    display: none;
}

#share{
    display: none;
}

@media screen and (max-width: 375px) {
    .features__text{
        text-align: center;
    }

    .features__para{
        padding: 0rem;
        width: 90%;
    }

    .features__menu{
        flex-direction: column;
        line-height: 3rem;
        margin-top: 2rem;
        padding-bottom: 0;
        width: 80%;
    }
    
    .features__menu__item{
        border-top: 1px solid var(--grayish-transparent-2);
        width: 100%;
    }

    .features__item__text{
        padding-top: 2rem;
        text-align: center;
        width: 100%;
    }

    .features__item{
        flex-direction: column;
        justify-content: center;
        text-align: center;
        padding: 0;
    }

    .features__item__img{
        width: 70%;
    }

    .features__item__para{
        width: 100%;
    }
}

@media screen and (max-width: 375px) {
    .features__text{
        text-align: center;
    }

    .features__para{
        padding: 0rem;
        width: 90%;
    }

    .features__menu{
        flex-direction: column;
        line-height: 3rem;
        margin-top: 2rem;
        padding-bottom: 0;
        width: 80%;
    }
    
    .features__menu__item{
        border-top: 1px solid var(--grayish-transparent-2);
        width: 100%;
    }

    .features__item__text{
        padding-top: 2rem;
        text-align: center;
        width: 100%;
    }

    .features__item{
        flex-direction: column;
        justify-content: center;
        text-align: center;
        padding: 0;
    }

    .features__item__img{
        width: 70%;
    }

    .features__item__para{
        width: 100%;
    }
}