.header{
    align-items: center;
    color: var(--darkish-blue);
    display: flex;
    justify-content: space-between;
    text-transform: uppercase;
    padding: 3rem;
}

.menu{
    align-items: center;
    display: flex;
}

.menu__item{
    cursor: pointer;
    margin-left: 3rem;
}

.menu__item:hover{
    color: var(--soft-red);
}

.menu__login{
    background: var(--soft-red);
    border: 2px solid var(--soft-red);
    border-radius: 0.3rem;
    color: aliceblue;
    cursor: pointer;
    padding: 0.7rem 1.5rem;
    transition: all 0.3s linear;

    box-shadow: 0px 6px 17px -4px rgba(0,0,0,0.1);
-webkit-box-shadow: 0px 6px 17px -4px rgba(0,0,0,0.1);
-moz-box-shadow: 0px 6px 17px -4px rgba(0,0,0,0.1);
}

.menu__login:hover{
    background: white;
    color: var(--soft-red);
}

#btn-menu{
    display: none;
    font-size: 1.5rem;
}

#btn-close{
    font-size: 1.5rem;
    margin-right: 1rem;
}

.nav__logo__mobile{
    align-items: center;
    display: flex;
    justify-content: space-around;
    margin-bottom: 2rem;
    width: 100%;
}

.nav__logo{
    margin-left: -1rem;
    width: 140px;
}

.nav__social{
    margin-top: 7rem;
}

@media screen and (max-width: 768px) {
    #btn-menu{
        display: flex;
    }

    .nav{
        display: none;
    }
}

@media screen and (max-width: 375px) {
    #btn-menu{
        display: flex;
    }

    .nav{
        align-items: center;
        background: var(--very-dark-blue-menu);
        flex-direction: column;
        color: white;
        left: 0;
        top: 0;
        display: flex;
        padding-top: 3rem;
        position: fixed;
        height: 110vh;
        width: 100%;
    }

    .menu{
        align-items: center;
        display: flex;
        flex-direction: column;
    }

    
    .menu__item{
        align-items: center;
        border-top: 1px solid rgba(255, 255, 255, 0.437);
        padding: 1rem 0;
        margin-left: 0;
        text-align: center;
        width: 100%;
    }

    .menu__contact{
        border-bottom: 1px solid rgba(255, 255, 255, 0.437);
    }

    .menu__login{
        align-items: center;
        background: transparent;
        border: 2px solid white;
        color: aliceblue;
        margin-top: 1rem;
        padding: auto;
        text-align: center;
        width: 250px;
    }
}